body {
    background-color: #000000;
    font-family: Arial, Helvetica, Sans-Serif;
    Color: #FFFFFF;
}

img {
    height: 80px;
}

.banner {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.banner img {
    padding-right: 30px;
}

.button {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.button a {
    background-color: aliceblue;
    color: rgb(0, 4, 130);
    padding: 15px 25px;
    text-decoration: none;
    margin: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.content {
    margin: 30px;
    padding: 30px;
}

.content p{
    font-weight: bold;
}

.content img{
    margin-top: 30px;
}